{% extends 'base.html' %}
{% load static %}
{% block title %}The-CloudHeros - search{% endblock  %}
{% block style %}

    <link rel="stylesheet" href="{% static 'posts/css/search.css' %}" />

{% endblock  %}

{% block content %}

    {% include 'include/nav.html' %}

    <section class="container-fluid resultdiv">
        <div class="searchPart card">
            <div class="serachinner card-header ">
                <h2 class="h2-result container">Search result for : <span class="text-danger">"{{searchText}}"</span></h2>
            </div>
        </div>
    </section>


    <!-- title show -->
    <section class="postSection mt-5  ">
        <div class="container">
            {% if venus %}
            {% for post in  venus %}
        <div class="card  border-0">
            <div class="card-body row card-position">
                <div class="card-img col-md-4 float-left text-center">
                    <a href="{% url 'articleDetails' post.catagories post.slug %}"> <img
                            src="{{post.article_image.url}}" height="300px" width="300px" class="img-fluid img-post"
                            alt="{{post.catagories|capfirst}} image"></a>
                </div>
                <div class="col-md-6 float-left">
                    <h3 class="postSection-heading-title">{{post.article_caption|upper}} | INTERMEDIATE</h3>
                    <h1 class="postSection-heading-anchor"><a
                            href="{% url 'articleDetails' post.catagories  post.slug %}">{{post.article_title|title|truncatewords:11}}</a>
                    </h1>
                    <span class="postSection-date">{{post.article_author|capfirst}} | {{post.post_date}}</span>
                    <p class="postSection-paragragh">{{post.article_describtion|capfirst|truncatewords:17}}</p>
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}

        <div class="contaner ">
            <h4 class="">No results were found for this query .</h4>
        </div>
        {% endif %}





             <!-- pagination -->
        {% if venus %}
        <nav aria-label="Page navigation example" class="pagination-nav">
            <ul class="pagination justify-content-center pagination-lg">
            {% if   venus.has_previous == True %}   
                <li class="page-item" tabindex="-1"><a href="?page={{venus.previous_page_number}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" class="pagination-link page-link">Previous</a>
                </li>
            {% else %}
            <li class="page-item disabled" tabindex="-1"><a href="#"  class="pagination-link page-link">Previous</a>
                </li>
            {% endif %}         
            {% for  num  in venus.paginator.page_range %}
                {% if venus.number == num %}
                    <li class="page-item"><a href="?page={{num}}" class="pagination-link page-link text-light pagination-active">{{num}}</a></li>
                    {% elif num > venus.number|add:'-2' and num < venus.number|add:'2' %}   
                        <li class="page-item"><a href="?page={{num}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" class="pagination-link page-link btn-outline-info">{{num}}</a></li>
                {% endif %}
            {% endfor %}
         {% if   venus.has_next == True %}   
                <li class="page-item"><a href="?page={{venus.next_page_number}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" class="pagination-link page-link">Next</a></li>
            {% else %}
            <li class="page-item disabled"><a href="#" class="pagination-link page-link">Next</a></li>
            {% endif %} 
            
            </ul>
        </nav>
        {% endif %}
        </div>
    </section>



     <footer class="footer">
        <div class="footer__logo__box">

            <img src="{% static 'assets/IMG_2250.PNG' %}" alt="" width="300px" class="footer-logo" />

        </div>
        <div class="footer-container ">
            <div class="footer-row">
                <div class="col-md-6 float-left">
                    <div class="footer__navigation">
                        <ul class="footer__list">
                            <li class="footer__item"><a href="{% url 'privacy' %}" class="footer__link">Company</a></li>
                            <li class="footer__item"><a href="{% url 'privacy' %}" class="footer__link">Contact us</a></li>
                            
                            <li class="footer__item"><a href="{% url 'privacy' %}" class="footer__link">Privacy policy</a></li>
                            <li class="footer__item"><a href="{% url 'privacy' %}" class="footer__link">Terms</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 float-left">
                    <p class="footer__copyright">
                        Built by <a href="{% url 'index' %}" class="footer__link">The CloudHeros</a> IT Managment Security System <a
                            href="{% url 'privacy' %}" class="footer__link">Company</a>.
                        Copyright &copy; by The CloudHeros You are 100% allowed to use this webpage for both personal
                        and Business
                    </p>
                </div>
            </div>



            <div class="FollowPart text-center ">
                <div class="icon-div">
                    <span class="follow-span">Follow us : </span>
                    <a class="icon" href="#"><i class="fab fa-facebook"></i></a>
                    <a class="icon" href="#"><i class="fab fa-twitter"></i></a>
                    <a class="icon" href="#"><i class="fab fa-linkedin"></i></a>
                    <a class="icon" href="#"><i class="fab fa-google-plus-g"></i></a>
                </div>
                <div>
                    <p class="follower-title">© 2021 Danish Software Group</p> <a class="folloer-ploiy" href="{% url 'privacy' %}">Privacy
                        Policy</a./template/contact.html
            </div>
        </div>
    </footer>



{% endblock  %}


{% block scripts %}

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11" ></script>
    <script src="{% static 'bootstrap/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
    <script src="{% static 'posts/js/search.js' %}"></script>

{% endblock  %}